:root {
    --primary: #2196F3;
    --warning: orange;
  }

.button-contained {
    padding: 16px;
    border: 1px solid;
}

.button-contained--primary {
    background-color: var(--primary);
    color: white;
}

.button-contained--warning {
    background-color: var(--warning);
    color: white;
}

.button-contained--disabled {
    background-color: grey;
    color: black;
}


.button-outlined {
    padding: 16px;
    border: 1px solid;
}


.button-outlined--primary {
    border-color: var(--primary);
    color: var(--primary);
}

.button-outlined--warning {
    border-color: var(--warning);
    color: var(--warning);
}

.button-outlined--disabled {
    border-color: grey;
    color: black;
}




